html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

html {
  min-height: 100vh;
}

header {
  min-height: 66vh;
  padding-bottom: 50px;
  /* background-image: linear-gradient(45deg, lightgrey, #fff); */
}

header > .wrapper {
  max-width: 750px;
  margin: 0 auto;
}

section.robot {
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background-image: linear-gradient(45deg, yellow, red); */
  background-image: linear-gradient(45deg, lightgreen, #fff);
  flex-wrap: wrap;
}

section.robot .icon {
  position: relative;
  min-width: 350px;
  max-width: 100%;
  padding: 35px;
}

section.bg-image {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

section.signup {
  min-height: 33vh;
  background-image: linear-gradient(45deg, lightgreen, #fff);
  display: flex;
  align-items: center;
}

section.signup h2{
  font-size: 6rem;
  color: white;
  color: rgb(32,194,79);
  text-align: center;
}

#mc_embed_signup {
  background: transparent !important;
}

.bubble-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bubble-inner > h2 {
    margin: 0;
    transform: rotate(-15deg);
    font-size: 3vw;
    color: rgb(32,194,79);
}

footer {
  min-height: 25vh;
  background-image: linear-gradient(45deg, black, #6a6a6a);
  /* background: #6a6a6a; */
  color: white;
  display: flex;
  align-items: center;
}

footer a {
    color: rgb(32,194,79);
}

footer a:hover {
    color: rgb(32,194,79);
}

.plant {
  opacity: 0;
  -webkit-animation: grow-plant 1.5s ease-in;
          animation: grow-plant 1.5s ease-in;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.soil {
  /*animation: fade-in-soil .5s linear;*/
  animation-fill-mode: forwards;
  animation-delay: 2s;
  /*opacity: 0;*/
}
.arm {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: rotate-arm 3s linear;
          animation: rotate-arm 3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hand {
  transform-origin: 535px 421px;
  transform: rotate(-30deg);
  animation: rotate-hand 2s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.fingers {
  transform-origin: 622px 453px;
  animation: rotate-fingers 1s linear;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
  transform: rotate(-121deg);
}
.greenlabs {
  /*opacity: 0;
  animation: fade-in-text 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 5s;*/
}
.farm {
  /*opacity: 0;*/
}

@keyframes fade-in-text {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  85% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes grow-plant {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  85% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fade-in-soil {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes rotate-arm {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate-hand {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
